@model EntityLayer.Concrete.Feature

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("Index", "Feature", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Deneyim Duzenleme Paneli </p>
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(x => x.FeatureID)
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Baslik</label>
                        @Html.TextBoxFor(x => x.Header,new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <label>Ad Soyad</label>
                        @Html.TextBoxFor(x => x.Name,new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <label>Gorev</label>
                        @Html.TextBoxFor(x => x.Title,new {@class = "form-control"})
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Degisiklikleri Kaydet</button>
                    @Html.ActionLink("İptal", "Index", "Experience", null, new { @class = "btn btn-danger" })
                </form>
            </div>
        </div>
    </div>
}

